.banner {
    background: url("Img/Foto\ Doyo\ Baru.png") 
    no-repeat center center;
    background-size: cover;
    padding-top: 18%;
    padding-bottom: 18%;
    color: black;
}

.lingkaran {
    display: inline-block;
    border-radius: 50%;
    width: 150px;
    margin: auto;
    height: 150px;
    color: #fff;
    background-color: #dc3545;
}

.crop-img{
    object-fit: cover;
}

.tim img {
    width: 350px;
    border: 10px solid #cccccc;
}

a.social {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    background-color: #333;
    line-height: 40px;
}

.client img {
    height: auto;
    max-height: 50px; 
}

.kontak {
    background: url("https://static1.makeuseofimages.com/wordpress/wp-content/uploads/2018/11/dark-wallpapers.jpg") no-repeat center center;
    background-size: cover;
    padding-bottom: 20%;
    padding-top: 20%;
    color: #fff;
}

.navbar-brand {
  gap: 0.6rem;                
  padding: 0.2rem 0;          
}


.brand-logo {
  height: 40px;              
  width: auto;
  display: inline-block;
  object-fit: contain;
  border-radius: 6px;         
}

.brand-text {
  font-size: 1.05rem;
  font-weight: 600;
  color: #fff;
  line-height: 1;
  white-space: nowrap;       
}

@media (max-width: 576px) {
  .brand-logo { height: 32px; }
  .brand-text { font-size: 0.95rem; }
}

